<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/cyborg-bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />

  <script type="text/javascript" src="/public/js/jq/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/public/js/shell.js"></script>
  <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
  <script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>

</head>
<body>
  <div id="page">
    <header class="container">
      <div id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button class="btn btn-success navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <div class="navbar-text" id="logo">
          <a href='/'><h2><%= title %></h2></a>
          <a href='/specials'><h4><%= subHeading %></h4></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav active"><a href="/">Home</a></li>
          <li class="nav"><a href="login">Login/Sign up</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <%- body %>
  </div>
  <footer>

  </footer>
</div>
</body>
</html>