body {
  margin-top: 150px;
}
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 1.2em; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 1em; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

#map {
   height: 350px;
   padding: 0px;
}
a {
   font-size: 1.2em;
}
/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */